html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.react-root {
    width: 100%;
    height: 100%;
}

.playground {
    width: 100%;
    height: 100%;
    display: flex;
}

.playground-pane {
    flex-grow: 1;
    flex-basis: 0;
    overflow: auto;
    border: 0;
    padding: 1em;
    font: 13px/1.3 Consolas, Menlo, monospace;
}

.playground-pane + .playground-pane {
    border-left: 1px solid #ccc;
}

.source-code-pane {
    display: flex;
    flex-direction: column;
}

.source-code-pane > textarea {
    margin-top: 1em;
    flex-grow: 1;
}
