.root {
  display: flex;
  align-items:  stretch;
  min-height: 100%;
}

.sidebar {
  width: 250px;
  background-color: #f0f4f7;
}

.main {
  flex: 1;
  padding: 48px;
}

.projectName {
  color: #7A92A5;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  padding: 32px 24px 0 24px;
  text-transform: uppercase;
  font-weight: bold;
}
